
.container {
  width: 100vw;
  height: 100vh;
  padding: 0 ;
  background-color: #24292F;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
/* BEGIN NAVBAR */
.navbar {
   position:fixed;
  display:flex;
  z-index: 1;
  width: 100vw;
  color:#fff;
  background-color: #1D1F21;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.navList {
  display: flex;
  align-items: flex-end;
  
}
.ul {
  margin-right:50rem;
}
 .ul li{

  text-decoration: none;
  margin-left:75px;
  display: inline-block;
  color:green;
  cursor: pointer;
}
.ul li:hover {
  color:rgb(6, 198, 6);
  transition: .5s;
}
/* END NAVBAR */